@charset "utf-8";

/* mc01 */
.mc01 {background:linear-gradient(to right, #2e9ddc 25%, #4bbc9a 75%, #dbe67d);}
.mc01 > div {position:relative; background:url(../image/main/mc01_bg.png) no-repeat right calc(50% + 740px) top 40px;}
.mc01 .mc01_inner {position:relative;}
.mc01 .mc01_inner::before,
.mc01 .mc01_inner::after {display:block; content:''; position:absolute;}
.mc01 .mc01_inner::before {background:#fff; border-radius:16px; z-index:5; box-shadow:0 8px 32px rgba(0,0,0,0.2);}
.mc01 .mc01_inner::after {background:#083d67; border-radius:0 16px 16px 0; z-index:0;}
.mc01 .mc01_slide {overflow:hidden; z-index:10;}
.mc01 .mc01_slide .sw_l * {word-break:break-all; white-space:initial;}
.mc01 .mc01_slide .mc01s_l i {display:inline-block; width:126px; height:16px; background:url(../image/main/mc01_txt_nowfairdata.png) no-repeat left center / auto 100%;}
.mc01 .mc01_slide .mc01s_l strong {display:block; font-size:44px; line-height:52px; font-weight:500; letter-spacing:-0.048em; color:#fff; margin-top:24px; opacity:0; transform:translate3d(8%, 0, 0); transition:opacity 0.32s ease-out, transform 0.32s ease-out;}
.mc01 .mc01_slide .swiper-slide-active .mc01s_l strong {opacity:1; transform:translate3d(0, 0, 0);}
.mc01 .mc01_slide .mc01s_c h5 {display:block; font-size:20px; line-height:28px; font-weight:500; color:#355289;}
.mc01 .mc01_slide .mc01s_c .mc01_chart {margin-top:8px; height:calc(100% - 36px); text-align:center;}
.mc01 .mc01_slide .mc01s_c .mc01_chart::before {display:inline-block; content:''; height:100%; vertical-align:middle;}
.mc01 .mc01_slide .mc01s_c .mc01_chart > img {display:inline-block; vertical-align:middle; max-width:100%; max-height:100%;}
.mc01 .mc01_slide .mc01s_r {position:relative;}
.mc01 .mc01_slide .mc01s_r::before {display:block; content:''; width:37px; height:47px; background:url(../image/main/mc01_ico_bookmark.png) no-repeat left top / 100% auto; position:absolute; left:0; top:0;}
.mc01 .mc01_slide .mc01s_r .mc01sr_title {display:block; font-size:17px; line-height:25px; font-weight:500; color:#fff; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:16px;}
.mc01 .mc01_slide .mc01s_r .mc01sr_descript {display:block; font-size:15px; line-height:23px; height:69px; color:#fff; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; margin-top:8px;}
.mc01 .mc01_slide .mc01s_r .mc01sr_date {display:block; font-size:14px; line-height:22px; color:#fff; margin-top:24px;}
.mc01 .mc01_slide .mc01s_r .btn_more {display:block; width:60px; height:30px; background:url(../image/main/mc01_ico_more.png) no-repeat right center / auto 100%; position:absolute; right:0; bottom:0;}

.mc01 .mc01_c {position:absolute; left:0; bottom:0; width:156px; height:32px; margin:0 0 96px 0; z-index:15;}
.mc01 .mc01_c .s_c strong {display:block; position:absolute; left:0; top:50%; transform:translateY(-50%); font-size:24px; line-height:32px; font-weight:700; color:#fff;}
.mc01 .mc01_c .s_c span {display:block; position:absolute; right:0; top:50%; transform:translateY(-50%); font-size:20px; line-height:28px; font-weight:700; color:#222;}
.mc01 .mc01_c .s_g {display:block; position:absolute; left:50%; top:50%; transform:translate3d(-50%, 0, 0); width:92px; height:1px; margin-top:-1px;}
.mc01 .mc01_c .s_g i {background:#000;}
.mc01 .mc01_b {position:absolute; left:0; bottom:0; font-size:0; line-height:0; z-index:15;}
.mc01 .mc01_b * {display:inline-block; vertical-align:middle;}
.mc01 .mc01_b [class^="btn_"] {width:48px; height:48px; border-radius:50%; overflow:hidden; margin-right:8px;}
.mc01 .mc01_b .s_b [class^="btn_"] {border:1px solid #fff;}
.mc01 .mc01_b .btn_prev {background:url(../image/common/ico_prev_64_w.png) no-repeat center center / 40%;}
.mc01 .mc01_b .btn_pause {background:url(../image/common/ico_pause_64_w.png) no-repeat center center / 36%;}
.mc01 .mc01_b .btn_play {background:url(../image/common/ico_play_64_w.png) no-repeat center center / 36%;}
.mc01 .mc01_b .btn_next {background:url(../image/common/ico_next_64_w.png) no-repeat center center / 40%;}
.mc01 .mc01_b .btn_menu {background:url(../image/main/mc01_ico_menu.png) no-repeat center center / 100%; margin-left:32px;}

.mc01_menu {position:absolute; left:0; top:0; width:100%; height:100%; background:linear-gradient(to bottom, #76aedf 50%, #9eaae2); z-index:910;}
.mc01_menu > div {position:relative; padding-top:68px; padding-bottom:48px; height:100%;}
.mc01_menu .btn_popup_close {width:36px; height:36px; background:url(../image/common/ico_cancel_64_w.png) no-repeat center center / 48%; position:absolute; right:0; top:16px;}
.mc01_menu .mc01m_list {height:100%;}
.mc01_menu .mc01m_list * {box-sizing:border-box;}
.mc01_menu .mc01m_list > div {max-height:100%;}
.mc01_menu .mc01m_list ul::after,
.mc01_menu .mc01m_list ul > li > div::after {display:block; content:''; clear:both;}
.mc01_menu .mc01m_list ul > li,
.mc01_menu .mc01m_list ul > li > div > div {float:left;}
.mc01_menu .mc01m_list .mc01ml_l span {display:block; font-weight:500; color:#fff;}

@media (min-width:1400px) {
  .mc01 > div {padding:64px 0;}
  .mc01 .mc01_inner {width:1400px; margin:0 auto;}
  .mc01 .mc01_slide .sw_l > div {display:table; table-layout:fixed; width:100%;}
  .mc01 .mc01_slide .sw_l > div > div {display:table-cell; vertical-align:top; height:330px;}
  .mc01 .mc01_slide .sw_l > div > div:nth-child(1) {width:360px; padding-right:32px;}
  .mc01 .mc01_slide .sw_l > div > div:nth-child(2) {padding:24px 32px 32px;}
  .mc01 .mc01_slide .sw_l > div > div:nth-child(3) {width:270px; padding:28px 32px; padding-top:64px;}
  .mc01 .mc01_slide .mc01s_r::before {margin:-2px 32px;}
  .mc01 .mc01_slide .mc01s_r .btn_more {margin:28px 32px;}

  .mc01 .mc01_inner::before {width:770px; height:330px; right:270px; top:0;}
  .mc01 .mc01_inner::after {width:286px; height:330px; right:0; top:0;}

  .mc01_menu > div {width:1400px; margin:0 auto;}
  .mc01_menu .mc01m_list ul > li {width:50%; padding-bottom:32px;}
  .mc01_menu .mc01m_list ul > li:nth-child(n+3) {border-top:1px solid rgba(255,255,255,0.12); padding-top:32px;}
  .mc01_menu .mc01m_list ul > li > div > div:first-child {width:260px; padding-right:32px;}
  .mc01_menu .mc01m_list ul > li > div > div:last-child {width:calc(100% - 260px); padding-right:48px;}

  .mc01_menu .mc01m_list .mc01ml_l span {font-size:28px; line-height:36px;}
  .mc01_menu .mc01m_list .mc01ml_r a {display:block; font-size:18px; line-height:26px; color:#18469c; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:12px;}
  .mc01_menu .mc01m_list .mc01ml_r p {display:block; font-size:14px; line-height:22px; height:44px; color:#fff; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; margin-top:12px;}
  .mc01_menu .mc01m_list .mc01ml_r em {display:block; font-size:14px; line-height:22px; color:#fff; margin-top:12px;}
}
@media (min-width:1200px) and (max-width:1399px) {
  .mc01 > div {padding:64px 0;}
  .mc01 .mc01_inner {width:1200px; margin:0 auto;}
  .mc01 .mc01_slide .sw_l > div {display:table; table-layout:fixed; width:100%;}
  .mc01 .mc01_slide .sw_l > div > div {display:table-cell; vertical-align:top; height:320px;}
  .mc01 .mc01_slide .sw_l > div > div:nth-child(1) {width:280px; padding-right:32px;}
  .mc01 .mc01_slide .sw_l > div > div:nth-child(2) {padding:24px 32px 32px;}
  .mc01 .mc01_slide .sw_l > div > div:nth-child(3) {width:260px; padding:28px 32px; padding-top:64px;}
  .mc01 .mc01_slide .mc01s_r::before {margin:-2px 32px;}
  .mc01 .mc01_slide .mc01s_r .btn_more {margin:28px 32px;}
  .mc01 .mc01_slide .mc01s_l strong {font-size:36px; line-height:44px;}

  .mc01 .mc01_inner::before {width:660px; height:320px; right:260px; top:0;}
  .mc01 .mc01_inner::after {width:276px; height:320px; right:0; top:0;}

  .mc01_menu > div {width:1200px; margin:0 auto;}
  .mc01_menu .mc01m_list ul > li {width:50%; padding-bottom:32px;}
  .mc01_menu .mc01m_list ul > li:nth-child(n+3) {border-top:1px solid rgba(255,255,255,0.12); padding-top:32px;}
  .mc01_menu .mc01m_list ul > li > div > div:first-child {width:260px; padding-right:32px;}
  .mc01_menu .mc01m_list ul > li > div > div:last-child {width:calc(100% - 260px); padding-right:48px;}

  .mc01_menu .mc01m_list .mc01ml_l span {font-size:28px; line-height:36px;}
  .mc01_menu .mc01m_list .mc01ml_r a {display:block; font-size:18px; line-height:26px; color:#18469c; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:12px;}
  .mc01_menu .mc01m_list .mc01ml_r p {display:block; font-size:14px; line-height:22px; height:44px; color:#fff; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; margin-top:12px;}
  .mc01_menu .mc01m_list .mc01ml_r em {display:block; font-size:14px; line-height:22px; color:#fff; margin-top:12px;}
}
@media (min-width:768px) and (max-width:1199px) {
  .mc01 > div {padding:48px 24px;}
  .mc01 .mc01_slide .sw_l > div > div:nth-child(2) {height:320px; padding:24px 32px 32px;}
  .mc01 .mc01_slide .sw_l > div > div:nth-child(3) {padding:28px 32px;}
  .mc01 .mc01_slide .mc01s_l {text-align:center;}
  .mc01 .mc01_slide .mc01s_l i {width:114px; height:14px;}
  .mc01 .mc01_slide .mc01s_l strong {font-size:36px; line-height:44px; margin-top:12px; transform:translate3d(0, 8%, 0);}
  .mc01 .mc01_slide .mc01s_c {margin-top:32px;}
  .mc01 .mc01_slide .mc01s_r::before {display:none;}
  .mc01 .mc01_slide .mc01s_r .mc01sr_descript {height:46px; -webkit-line-clamp:2;}
  .mc01 .mc01_slide .mc01s_r .btn_more {margin:28px 32px;}

  .mc01 .mc01_c {position:relative; margin:20px auto;}
  .mc01 .mc01_b {position:relative; text-align:center;}
  .mc01 .mc01_b .btn_menu {margin-left:8px;}

  .mc01 .mc01_inner::before {width:100%; height:320px; left:0; bottom:350px;}
  .mc01 .mc01_inner::after {width:100%; height:246px; left:0; bottom:120px; border-radius:0 0 16px 16px;}

  .mc01_menu > div {padding:68px 24px 40px 24px;}
  .mc01_menu .btn_popup_close {right:24px;}
  .mc01_menu .mc01m_list ul > li {width:100%; padding-bottom:32px;}
  .mc01_menu .mc01m_list ul > li:nth-child(n+2) {border-top:1px solid rgba(255,255,255,0.12); padding-top:32px;}
  .mc01_menu .mc01m_list ul > li > div > div {width:100%;}
  .mc01_menu .mc01m_list .mc01ml_l span {font-size:24px; line-height:32px;}
  .mc01_menu .mc01m_list .mc01ml_r {margin-top:12px;}
  .mc01_menu .mc01m_list .mc01ml_r a {display:block; font-size:18px; line-height:26px; color:#18469c; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:12px;}
  .mc01_menu .mc01m_list .mc01ml_r p {display:block; font-size:14px; line-height:22px; height:44px; color:#fff; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; margin-top:12px;}
  .mc01_menu .mc01m_list .mc01ml_r em {display:block; font-size:14px; line-height:22px; color:#fff; margin-top:12px;}
}
@media (max-width:767px) {
  .mc01 > div {padding:32px 16px;}
  .mc01 .mc01_slide .sw_l > div > div:nth-child(2) {height:320px; padding:24px 32px 32px;}
  .mc01 .mc01_slide .sw_l > div > div:nth-child(3) {padding:28px 32px;}
  .mc01 .mc01_slide .mc01s_l {text-align:center;}
  .mc01 .mc01_slide .mc01s_l i {width:100px; height:12px;}
  .mc01 .mc01_slide .mc01s_l strong {font-size:24px; line-height:32px; margin-top:4px; transform:translate3d(0, 8%, 0);}
  .mc01 .mc01_slide .mc01s_c {margin-top:24px;}
  .mc01 .mc01_slide .mc01s_r::before {display:none;}
  .mc01 .mc01_slide .mc01s_r .mc01sr_descript {display:none;}
  .mc01 .mc01_slide .mc01s_r .mc01sr_date {margin-top:16px;}
  .mc01 .mc01_slide .mc01s_r .btn_more {margin:28px 32px;}

  .mc01 .mc01_c {position:relative; margin:20px auto;}
  .mc01 .mc01_b {position:relative; text-align:center;}
  .mc01 .mc01_b .btn_menu {margin-left:8px;}

  .mc01 .mc01_inner::before {width:100%; height:320px; left:0; bottom:287px;}
  .mc01 .mc01_inner::after {width:100%; height:183px; left:0; bottom:120px; border-radius:0 0 16px 16px;}

  .mc01_menu > div {padding:68px 16px 40px 16px;}
  .mc01_menu .btn_popup_close {right:16px;}
  .mc01_menu .mc01m_list ul > li {width:100%; padding-bottom:32px;}
  .mc01_menu .mc01m_list ul > li:nth-child(n+2) {border-top:1px solid rgba(255,255,255,0.12); padding-top:32px;}
  .mc01_menu .mc01m_list ul > li > div > div {width:100%;}
  .mc01_menu .mc01m_list .mc01ml_l span {font-size:20px; line-height:28px;}
  .mc01_menu .mc01m_list .mc01ml_r {margin-top:12px;}
  .mc01_menu .mc01m_list .mc01ml_r a {display:block; font-size:18px; line-height:26px; color:#18469c; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:12px;}
  .mc01_menu .mc01m_list .mc01ml_r p {display:block; font-size:14px; line-height:22px; height:44px; color:#fff; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; margin-top:12px;}
  .mc01_menu .mc01m_list .mc01ml_r em {display:block; font-size:14px; line-height:22px; color:#fff; margin-top:12px;}
}

/* mc02 */
.mc02 {border-bottom:1px solid #ddd;}
.mc02 > div {position:relative;}
.mc02 .mc02_t h4,
.mc02 .mc02_t h4 span,
.mc02 .mc02_t h4 strong,
.mc02 .mc02_t em {display:block;}
.mc02 .mc02_t h4 span,
.mc02 .mc02_t h4 strong {color:#222;}
.mc02 .mc02_t em {font-size:14px; line-height:22px; color:#888; margin-top:4px;}
.mc02 .mc02_t h4 strong {font-weight:500;}
.mc02 .mc02_b p {display:inline-block; font-size:13px; line-height:21px; color:#666; padding:8px 20px;}

.mc02 .mc02_c {position:relative;}
.mc02 .mc02_slide {overflow:hidden;}
.mc02 .mc02_c .sw_l {position:relative; text-align:center;}
.mc02 .mc02_c .sw_l ~ .sw_l::before {display:block; content:''; width:1px; height:20px; border-left:1px dashed #ddd; position:absolute; left:0; top:50%; transform:translateY(-50%);}
.mc02 .mc02_c .sw_l * {display:inline-block; vertical-align:middle;}
.mc02 .mc02_c .sw_l > div {text-align:left;}
.mc02 .mc02_c .sw_l > div::before {display:inline-block; content:''; width:56px; height:56px; vertical-align:middle; background:url() no-repeat center center / 100%; margin-right:8px;}
.mc02 .mc02_c .sw_l:nth-child(1) > div::before {background-image:url(../image/main/mc02_ico_01.png);}
.mc02 .mc02_c .sw_l:nth-child(2) > div::before {background-image:url(../image/main/mc02_ico_02.png);}
.mc02 .mc02_c .sw_l:nth-child(3) > div::before {background-image:url(../image/main/mc02_ico_03.png);}
.mc02 .mc02_c .sw_l:nth-child(4) > div::before {background-image:url(../image/main/mc02_ico_04.png);}
.mc02 .mc02_c .sw_l[data-swiper-slide-index="0"] > div::before {background-image:url(../image/main/mc02_ico_01.png);}
.mc02 .mc02_c .sw_l[data-swiper-slide-index="1"] > div::before {background-image:url(../image/main/mc02_ico_02.png);}
.mc02 .mc02_c .sw_l[data-swiper-slide-index="2"] > div::before {background-image:url(../image/main/mc02_ico_03.png);}
.mc02 .mc02_c .sw_l[data-swiper-slide-index="3"] > div::before {background-image:url(../image/main/mc02_ico_04.png);}
.mc02 .mc02_c .sw_l span {font-weight:500; margin-right:8px; color:#083d67;}
.mc02 .mc02_c .sw_l strong {font-weight:700; margin-right:4px;}
.mc02 .mc02_c .sw_l em {font-size:14px; line-height:22px; color:#888;}

.mc02 .mc02_c .s_b [class^="btn_"] {display:block; width:40px; height:40px; border-radius:50%; border:1px solid #ddd; background:url() no-repeat #fff center center / 48%; position:absolute; top:50%; transform:translateY(-50%);}
.mc02 .mc02_c .s_b .btn_prev {background-image:url(../image/common/ico_arrowleft_64_b.png); left:0;}
.mc02 .mc02_c .s_b .btn_next {background-image:url(../image/common/ico_arrowright_64_b.png); right:0;}

@media (min-width:1400px) {
  .mc02 > div {width:1400px; margin:0 auto; padding:84px 0 48px; padding-left:240px;}
  .mc02 .mc02_t {position:absolute; left:0; top:60px;}
  .mc02 .mc02_t h4 span,
  .mc02 .mc02_t h4 strong {font-size:28px; line-height:36px;}
  .mc02 .mc02_b {position:absolute; right:0; top:36px;}

  .mc02 .mc02_c .s_b {display:none;}
  .mc02 .mc02_c .sw_l {width:25%;}
  .mc02 .mc02_c .sw_l span {font-size:18px; line-height:26px;}
  .mc02 .mc02_c .sw_l strong {font-size:34px; line-height:42px;}
}
@media (min-width:1200px) and (max-width:1399px) {
  .mc02 > div {width:1200px; margin:0 auto; padding:84px 0 48px; padding-left:240px;}
  .mc02 .mc02_t {position:absolute; left:0; top:60px;}
  .mc02 .mc02_t h4 span,
  .mc02 .mc02_t h4 strong {font-size:28px; line-height:36px;}
  .mc02 .mc02_b {position:absolute; right:0; top:36px;}

  .mc02 .mc02_c .s_b {display:none;}
  .mc02 .mc02_c .sw_l {width:25%;}
  .mc02 .mc02_c .sw_l span {font-size:18px; line-height:26px;}
  .mc02 .mc02_c .sw_l strong {font-size:34px; line-height:42px;}
}
@media (min-width:768px) and (max-width:1199px) {
  .mc02 {padding:40px 24px;}
  .mc02 .mc02_t {text-align:center;}
  .mc02 .mc02_t h4 span,
  .mc02 .mc02_t h4 strong {font-size:24px; line-height:32px; display:inline-block;}
  .mc02 .mc02_t h4 span {margin-right:4px;}
  .mc02 .mc02_b {text-align:center;}
  .mc02 .mc02_b p {background:#eee; border-radius:19px;}
  
  .mc02 .mc02_c .sw_l {width:50%; padding:24px 0;}
  .mc02 .mc02_c .sw_l span {font-size:16px; line-height:24px;}
  .mc02 .mc02_c .sw_l strong {font-size:32px; line-height:40px;}
}
@media (max-width:767px) {
  .mc02 {padding:32px 16px;}
  .mc02 .mc02_t {text-align:center;}
  .mc02 .mc02_t h4 span,
  .mc02 .mc02_t h4 strong {font-size:20px; line-height:38px; display:inline-block;}
  .mc02 .mc02_t h4 span {margin-right:4px;}
  .mc02 .mc02_b {text-align:center;}
  .mc02 .mc02_b p {background:#eee; border-radius:19px;}

  .mc02 .mc02_c .sw_l {width:100%; padding:24px 0;}
  .mc02 .mc02_c .sw_l span {font-size:16px; line-height:24px;}
  .mc02 .mc02_c .sw_l strong {font-size:30px; line-height:38px;}
}

/* ml01 */
.ml01 > div::after {display:block; content:''; clear:both;}

@media (min-width:1400px) {
  .ml01 {width:1400px; margin:0 auto;}
  .ml01 > div {padding:48px 0; margin:0 -24px;}
  .ml01 > div > div {float:left; width:50%; padding:0 24px;}
  .ml01 > div > div:first-child {width:66.6666%}
  .ml01 > div > div:last-child {width:33.3333%}
}
@media (min-width:1200px) and (max-width:1399px) {
  .ml01 {width:1200px; margin:0 auto;}
  .ml01 > div {padding:48px 0; margin:0 -24px;}
  .ml01 > div > div {float:left; width:50%; padding:0 24px;}
  .ml01 > div > div:first-child {width:66.6666%}
  .ml01 > div > div:last-child {width:33.3333%}
}
@media (min-width:768px) and (max-width:1199px) {
  .ml01 > div {padding:40px 24px;}
  .ml01 > div > div:nth-child(n+2) {margin-top:40px;}
}
@media (max-width:767px) {
  .ml01 > div {padding:32px 16px;}
  .ml01 > div > div:nth-child(n+2) {margin-top:32px;}
}

/* mc03 */
.mc03 .mc03_t {position:relative; font-size:0; line-height:0;}
.mc03 .mc03_t .mc03t_l h4 {display:block; font-weight:500; color:#222;}
.mc03 .mc03_t .mc03t_r {position:absolute; right:0; top:50%; transform:translateY(-50%); border-radius:18px; border:1px solid #ddd; padding:5px 8px;}
.mc03 .mc03_t .mc03t_r * {display:inline-block; vertical-align:middle;}
.mc03 .mc03_t .mc03t_r .s_b [class^="btn_"] {width:24px; height:24px; background:url() no-repeat center center / 66%;}
.mc03 .mc03_t .mc03t_r .s_b .btn_prev {background-image:url(../image/common/ico_arrowleft_64_b.png)}
.mc03 .mc03_t .mc03t_r .s_b .btn_pause {background-image:url(../image/common/ico_pause_64_b.png); background-size:50%;}
.mc03 .mc03_t .mc03t_r .s_b .btn_play {background-image:url(../image/common/ico_play_64_b.png); background-size:50%;}
.mc03 .mc03_t .mc03t_r .s_b .btn_next {background-image:url(../image/common/ico_arrowright_64_b.png)}
.mc03 .mc03_t .mc03t_r .s_c {font-size:14px; line-height:22px; font-weight:700; color:#888; padding:1px 8px;}
.mc03 .mc03_t .mc03t_r .s_c * {padding:0 1px;}
.mc03 .mc03_t .mc03t_r .s_c strong {color:#222;}

.mc03 .mc03_slide {background:#e1f5f6; border:1px solid #a5dbde; border-radius:16px; overflow:hidden; margin-top:16px;}
.mc03 .mc03_slide .sw_l {width:100%; white-space:initial; padding:28px 32px;}
.mc03 .mc03_slide .sw_l > div {position:relative;}
.mc03 .mc03_slide .mc03s_img {position:absolute; left:0; top:0; display:block; border-radius:50%; background:url() no-repeat #ddd center center / cover;}
.mc03 .mc03_slide .mc03s_title {display:block; font-weight:500; color:#222; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:16px;}
.mc03 .mc03_slide .sw_l p {display:block; font-size:15px; line-height:23px; color:#666; height:46px; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; margin-top:12px;}
.mc03 .mc03_slide .mc03s_hash {margin-top:24px;}
.mc03 .mc03_slide .mc03s_hash > a {display:inline; margin-right:12px; font-size:13px; line-height:21px; font-weight:500; color:#999;}

@media (min-width:1400px) {
  .mc03 .mc03_t h4 {font-size:24px; line-height:32px;}
  .mc03 .mc03_slide .sw_l {padding:43px 40px;}
  .mc03 .mc03_slide .sw_l > div {padding-left:220px;}
  .mc03 .mc03_slide .mc03s_img {width:180px; height:180px;}
  .mc03 .mc03_slide .mc03s_title {font-size:22px; line-height:30px;}
}
@media (min-width:1200px) and (max-width:1399px) {
  .mc03 .mc03_t h4 {font-size:24px; line-height:32px;}
  .mc03 .mc03_slide .sw_l {padding:43px 40px;}
  .mc03 .mc03_slide .sw_l > div {padding-left:220px;}
  .mc03 .mc03_slide .mc03s_img {width:180px; height:180px;}
  .mc03 .mc03_slide .mc03s_title {font-size:22px; line-height:30px;}
}
@media (min-width:768px) and (max-width:1199px) {
  .mc03 .mc03_t h4 {font-size:22px; line-height:30px;}
  .mc03 .mc03_slide .sw_l > div {padding-left:212px;}
  .mc03 .mc03_slide .mc03s_img {width:180px; height:180px;}
  .mc03 .mc03_slide .mc03s_title {font-size:20px; line-height:28px;}
}
@media (max-width:767px) {
  .mc03 .mc03_t h4 {font-size:20px; line-height:28px;}
  .mc03 .mc03_slide .mc03s_img {display:none;}
  .mc03 .mc03_slide .mc03s_title {font-size:18px; line-height:24px;}
}

/* mc04 */
.mc04 {position:relative;}
.mc04 .mc04_t h4 {display:block; font-weight:500; color:#222;}
.mc04 .btn_more {display:block; width:36px; height:36px; border:1px solid #ddd; border-radius:50%; background:url(../image/common/ico_plus_64_b.png) no-repeat center center / 36%; position:absolute; right:0; top:0;}
.mc04 .mc04_b {border-top:3px solid #222; margin-top:16px;}
.mc04 .mc04_b > ul > li {border-bottom:1px solid #ddd;}
.mc04 .mc04_b .mc04b_b {position:relative; margin-top:8px;}
.mc04 .mc04_title {display:block; font-size:18px; line-height:26px; font-weight:500; color:#222; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.mc04 .mc04_date {position:relative; display:block; font-size:14px; line-height:22px; color:#888; padding-left:20px;}
.mc04 .mc04_date::before {display:block; content:''; width:16px; height:16px; background:url(../image/common/ico_clock_64_b.png) no-repeat center center / 100%; position:absolute; left:0; top:50%; transform:translateY(-50%); opacity:0.48;}

@media (min-width:1400px) {
  .mc04 .mc04_t h4 {font-size:24px; line-height:32px;}
  .mc04 .btn_more {margin-top:-2px;}
  .mc04 .mc04_b > ul > li {padding:15px 0;}
  .mc04 .mc04_title {width:calc(100% - 96px);}
  .mc04 .mc04_date {position:absolute; right:0; top:50%; transform:translateY(-50%);}
}
@media (min-width:1200px) and (max-width:1399px) {
  .mc04 .mc04_t h4 {font-size:24px; line-height:32px;}
  .mc04 .btn_more {margin-top:-2px;}
  .mc04 .mc04_b > ul > li {padding:15px 0;}
  .mc04 .mc04_title {width:calc(100% - 96px);}
  .mc04 .mc04_date {position:absolute; right:0; top:50%; transform:translateY(-50%);}
}
@media (min-width:768px) and (max-width:1199px) {
  .mc04 .mc04_t h4 {font-size:22px; line-height:30px;}
  .mc04 .btn_more {margin-top:-3px;}
  .mc04 .mc04_b > ul > li {padding:15px 0;}
  .mc04 .mc04_title {width:calc(100% - 96px);}
  .mc04 .mc04_date {position:absolute; right:0; top:50%; transform:translateY(-50%);}
}
@media (max-width:767px) {
  .mc04 .mc04_t h4 {font-size:20px; line-height:28px;}
  .mc04 .btn_more {margin-top:-4px;}
  .mc04 .mc04_b > ul > li {padding:15px 0;}
  .mc04 .mc04_date {margin-top:8px;}
}

/* mc05 */
.mc05 {background:url(../image/main/mc05_bg.png) no-repeat center bottom;}
.mc05 > div {position:relative;}
.mc05 .mc05_l .mc05l_t h4 {display:block; color:#222;}
.mc05 .mc05_l .mc05l_t h4 strong {font-weight:500;}

.mc05 .mc05_r {position:relative;}
.mc05 .mc05_slide {background:#fff; height:390px; box-shadow:0 8px 32px rgba(0,0,0,0.2); overflow:hidden;}
.mc05 .mc05_slide .s_w,
.mc05 .mc05_slide .s_w .sw_l {height:100%;}
.mc05 .mc05_slide .sw_l > div {position:relative; height:100%;}
.mc05 .mc05_slide .mc05s_r {position:absolute; right:0; top:0; height:100%; text-align:center;}
.mc05 .mc05_slide .mc05s_r::before {display:inline-block; content:''; height:100%; vertical-align:middle;}
.mc05 .mc05_slide .mc05s_r > ul {display:inline-block; vertical-align:middle; text-align:left;}
.mc05 .mc05_slide .mc05s_r > ul > li {padding:12px 0;}
.mc05 .mc05_slide .mc05s_r > ul > li ~ li {border-top:1px dashed #ededed;}
.mc05 .mc05_slide .mc05s_r > ul > li > strong {display:block; font-size:22px; line-height:30px; font-weight:700; color:#163e76;}
.mc05 .mc05_slide .mc05s_r > ul > li > span {display:block; font-size:14px; line-height:22px; color:#7c8087;}
.mc05 .mc05_slide .mc05s_l {height:100%;}
.mc05 .mc05_slide .mc05s_l .mc05sl_t {font-size:0; line-height:0;}
.mc05 .mc05_slide .mc05s_l .mc05sl_t > div::before {height:28px;}
.mc05 .mc05_slide .mc05s_l .mc05sl_t h5 {display:inline-block; vertical-align:middle; font-size:20px; line-height:28px; font-weight:700; color:#163e76;}
.mc05 .mc05_slide .mc05s_l .mc05sl_t p {display:inline-block; vertical-align:middle; font-size:14px; line-height:22px; color:#606060; margin-left:12px;}
.mc05 .mc05_slide .mc05s_l .mc05sl_t span {display:inline-block; font-size:12px; line-height:20px; color:#64656b; border-radius:11px; background:#f1f2f5; padding:1px 12px;}
.mc05 .mc05_slide .mc05s_l .mc05sl_b {height:calc(100% - 44px); margin-top:16px; text-align:center;}
.mc05 .mc05_slide .mc05s_l .mc05sl_b::before {display:inline-block; content:''; height:100%; vertical-align:middle;}
.mc05 .mc05_slide .mc05s_l .mc05sl_b > img {display:inline-block; vertical-align:middle; max-width:100%; max-height:100%;}
.mc05 .s_b [class^="btn_"] {position:absolute; top:50%; transform:translateY(-50%); display:block; width:44px; height:44px; border-radius:50%; background:url() no-repeat #fff center center / 36%;  box-shadow:0 4px 16px rgba(0,0,0,0.2);}
.mc05 .s_b .btn_prev {background-image:url(../image/common/ico_arrowleft_64_b.png); left:0;}
.mc05 .s_b .btn_next {background-image:url(../image/common/ico_arrowright_64_b.png); right:0;}

@media (min-width:1400px) {
  .mc05 {padding:64px 0;}
  .mc05 > div {width:1400px; margin:0 auto; padding-left:360px;}
  .mc05 .mc05_l {position:absolute; left:0; top:0;}
  .mc05 .mc05_l .mc05l_t h4 {font-size:28px; line-height:36px;}
  .mc05 .mc05_l .mc05l_t h4 span,
  .mc05 .mc05_l .mc05l_t h4 strong {display:block;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t {display:none;}

  .mc05 .mc05_l .mc05l_b {margin-top:32px;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li {position:relative;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li ~ li::before {display:block; content:''; width:220px; height:1px; background:#ddd; position:absolute; left:0; top:0;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li > a {position:relative; display:block; padding:0 24px; width:300px; border-radius:8px;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li > a > span {display:inline-block; vertical-align:middle; font-size:18px; line-height:80px; font-weight:500; color:#222;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li.on > a {background:linear-gradient(to right, #3f6fd5 50%, #37c4b8); box-shadow:0 8px 32px rgba(0,0,0,0.2);}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li.on > a::before {display:inline-block; content:''; width:48px; height:48px; background:url(../image/main/mc05_tab_ico_01.png) no-repeat center center; vertical-align:middle; margin-right:12px;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li.on > a::after {display:block; content:''; width:36px; height:36px; border-radius:50%; background:url(../image/common/ico_arrowright_64_w.png) no-repeat center center / 40%; position:absolute; right:20px; top:50%; transform:translateY(-50%); border:1px solid rgba(255,255,255,0.5); box-shadow:0 4px 16px rgba(255,255,255,0.2);}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li.on > a > span {font-size:20px; color:#fff;}

  .mc05 .mc05_slide {border-radius:0 195px 195px 0; overflow:hidden;}
  .mc05 .mc05_slide .sw_l {padding:28px 88px;}
  .mc05 .s_b [class^="btn_"] {margin:0 20px;}

  .mc05 .mc05_slide .sw_l > div {padding-right:200px;}
  .mc05 .mc05_slide .mc05s_r {width:200px;}
  .mc05 .mc05_slide .mc05s_r > ul {width:140px;}
}
@media (min-width:1200px) and (max-width:1399px) {
  .mc05 {padding:64px 0;}
  .mc05 > div {width:1200px; margin:0 auto; padding-left:300px;}
  .mc05 .mc05_l {position:absolute; left:0; top:0;}
  .mc05 .mc05_l .mc05l_t h4 {font-size:26px; line-height:34px; letter-spacing:-0.048em;}
  .mc05 .mc05_l .mc05l_t h4 span,
  .mc05 .mc05_l .mc05l_t h4 strong {display:block;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t {display:none;}

  .mc05 .mc05_l .mc05l_b {margin-top:32px;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li {position:relative;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li ~ li::before {display:block; content:''; width:220px; height:1px; background:#ddd; position:absolute; left:0; top:0;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li > a {position:relative; display:block; padding:0 20px; width:270px; border-radius:8px;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li > a > span {display:inline-block; vertical-align:middle; font-size:18px; line-height:80px; font-weight:500; color:#222;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li.on > a {background:linear-gradient(to right, #3f6fd5 50%, #37c4b8); box-shadow:0 8px 32px rgba(0,0,0,0.2);}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li.on > a::before {display:inline-block; content:''; width:48px; height:48px; background:url(../image/main/mc05_tab_ico_01.png) no-repeat center center; vertical-align:middle; margin-right:12px;}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li.on > a::after {display:block; content:''; width:36px; height:36px; border-radius:50%; background:url(../image/common/ico_arrowright_64_w.png) no-repeat center center / 40%; position:absolute; right:20px; top:50%; transform:translateY(-50%); border:1px solid rgba(255,255,255,0.5); box-shadow:0 4px 16px rgba(255,255,255,0.2);}
  .mc05 .mc05_l .mc05l_b .mc05lb_b > ul > li.on > a > span {font-size:20px; color:#fff;}

  .mc05 .mc05_slide {border-radius:0 195px 195px 0;}
  .mc05 .mc05_slide .sw_l {padding:28px 88px;}
  .mc05 .s_b [class^="btn_"] {margin:0 20px;}

  .mc05 .mc05_slide .sw_l > div {padding-right:160px;}
  .mc05 .mc05_slide .mc05s_r {width:160px;}
  .mc05 .mc05_slide .mc05s_r > ul {width:120px;}
}
@media (min-width:768px) and (max-width:1199px) {
  .mc05 {padding:40px 24px; background-size:auto 100%;}
  .mc05 .mc05_l .mc05l_t h4 {font-size:24px; line-height:32px;}
  .mc05 .mc05_l .mc05l_t h4 strong {margin-left:6px;}

  .mc05 .mc05_l .mc05l_b {position:relative; margin-top:16px;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div {display:none;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div.on {display:block;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div > a {position:relative; display:block; padding:0 24px; border-radius:8px; background:linear-gradient(to right, #3f6fd5 50%, #37c4b8); box-shadow:0 8px 32px rgba(0,0,0,0.2);}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_t > div > a {border-radius:8px 8px 0 0;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div > a > span {display:inline-block; font-size:18px; line-height:64px; font-weight:500; color:#fff;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div > a::before {display:inline-block; content:''; width:40px; height:40px; background:url(../image/main/mc05_tab_ico_01.png) no-repeat center center / 100%; vertical-align:middle; margin-right:12px;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div > a::after {display:block; content:''; width:32px; height:32px; border-radius:50%; background:url(../image/common/ico_arrowbottom_64_w.png) no-repeat center center / 44%; position:absolute; right:20px; top:50%; transform:translateY(-50%); border:1px solid rgba(255,255,255,0.5); box-shadow:0 4px 16px rgba(255,255,255,0.2);}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_t > div > a::after {background-image:url(../image/common/ico_arrowtop_64_w.png);}
  .mc05 .mc05_l .mc05l_b .mc05lb_b {position:absolute; left:0; top:100%; display:none; z-index:5;}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_b {display:block; width:100%; background:linear-gradient(to right, #3f6fd5 50%, #37c4b8); border-radius:0 0 8px 8px;}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_b > ul > li {border-top:1px solid rgba(255,255,255,0.12);}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_b > ul > li > a {display:block; padding:19px 24px;}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_b > ul > li > a > span {display:inline-block; font-size:18px; line-height:26px; color:#fff;}

  .mc05 .mc05_slide {margin-top:24px;}
  .mc05 .mc05_slide .sw_l {padding:24px 28px;}
  .mc05 .s_b [class^="btn_"] {margin:0 -12px;}

  .mc05 .mc05_slide .mc05s_r {display:none;}
}
@media (max-width:767px) {
  .mc05 {padding:32px 16px; background-size:auto 100%;}
  .mc05 .mc05_l .mc05l_t h4 {font-size:20px; line-height:28px;}
  .mc05 .mc05_l .mc05l_t h4 strong {margin-left:6px;}

  .mc05 .mc05_l .mc05l_b {position:relative; margin-top:8px;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div {display:none;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div.on {display:block;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div > a {position:relative; display:block; padding:0 20px; border-radius:8px; background:linear-gradient(to right, #3f6fd5 50%, #37c4b8); box-shadow:0 8px 32px rgba(0,0,0,0.2);}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_t > div > a {border-radius:8px 8px 0 0;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div > a > span {display:inline-block; font-size:16px; line-height:48px; font-weight:500; color:#fff;}
  .mc05 .mc05_l .mc05l_b .mc05lb_t > div > a::after {display:block; content:''; width:24px; height:24px; border-radius:50%; background:url(../image/common/ico_arrowbottom_64_w.png) no-repeat center center / 44%; position:absolute; right:16px; top:50%; transform:translateY(-50%); border:1px solid rgba(255,255,255,0.5); box-shadow:0 4px 16px rgba(255,255,255,0.2);}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_t > div > a::after {background-image:url(../image/common/ico_arrowtop_64_w.png);}
  .mc05 .mc05_l .mc05l_b .mc05lb_b {position:absolute; left:0; top:100%; display:none; z-index:5;}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_b {display:block; width:100%; background:linear-gradient(to right, #3f6fd5 50%, #37c4b8); border-radius:0 0 8px 8px;}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_b > ul > li {border-top:1px solid rgba(255,255,255,0.12);}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_b > ul > li > a {display:block; padding:12px 20px;}
  .mc05 .mc05_l .mc05l_b.open .mc05lb_b > ul > li > a > span {display:inline-block; font-size:16px; line-height:24px; color:#fff;}

  .mc05 .mc05_slide {height:240px; margin-top:16px;}
  .mc05 .mc05_slide .sw_l {padding:20px 24px;}
  .mc05 .s_b [class^="btn_"] {margin:0 -8px;}

  .mc05 .mc05_slide .mc05s_r {display:none;}
}

/* mc06 */
.mc06 > div {position:relative;}
.mc06 > div > .btn_more {position:absolute; right:0; top:0; display:inline-block; font-size:14px; line-height:22px; padding-right:16px; color:#888; background:url(../image/common/ico_arrowright_64_b.png) no-repeat right center / auto 12px;}
.mc06 .mc06_t h4 {position:relative; display:block; color:#222;}
.mc06 .mc06_t h4 strong {font-weight:500; margin-left:4px;}
.mc06 .mc06_b {position:relative; border:1px solid #ccd3dc; border-radius:16px; box-shadow:0 4px 16px rgba(0,0,0,0.12);}

.mc06 .mc06_slide {overflow:hidden;}
.mc06 .mc06_slide .sw_l {white-space:initial;}
.mc06 .mc06_slide .sw_l > div {border-radius:8px; padding:24px 28px;}
.mc06 .mc06_slide .sw_l p {display:block; font-size:16px; line-height:24px; height:48px; margin-top:12px; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;}
.mc06 .mc06_slide .sw_l .btn_more {display:inline-block; font-size:14px; line-height:22px; color:#888; margin-top:24px;}

.mc06 .mc06_slide .sw_l .mc06s_green {background:url(../image/main/mc06_ico_comma_02.png) no-repeat #eff6f8 right 16px top 16px;}
.mc06 .mc06_slide .sw_l .mc06s_orange {background:url(../image/main/mc06_ico_comma_03.png) no-repeat #fcf6f6 right 16px top 16px;}
.mc06 .mc06_slide .sw_l .mc06s_navy {background:url(../image/main/mc06_ico_comma_01.png) no-repeat #f2f5fa right 16px top 16px;}

.mc06 .s_b [class^="btn_"] {position:absolute; top:50%; transform:translateY(-50%); display:block; width:44px; height:44px; border:1px solid #ddd; border-radius:50%; background:url() no-repeat #fff center center / 36%;}
.mc06 .s_b .btn_prev {background-image:url(../image/common/ico_arrowleft_64_b.png); left:0;}
.mc06 .s_b .btn_next {background-image:url(../image/common/ico_arrowright_64_b.png); right:0;}

@media (min-width:1400px) {
  .mc06 {padding:48px 0;}
  .mc06 > div {width:1400px; margin:0 auto;}
  .mc06 > div > .btn_more {margin-top:7px;}
  .mc06 .mc06_t h4 {font-size:28px; line-height:36px; padding-left:112px;}
  .mc06 .mc06_t h4::before {position:absolute; left:-34px; bottom:-24px; display:block; content:''; width:145px; height:84px; background:url(../image/main/mc06_title_bg.png) no-repeat left bottom;}
  .mc06 .mc06_b {margin-top:24px; padding:28px 76px;}
  .mc06 .mc06_slide .sw_l {width:25%; padding:0 8px;}
  .mc06 .s_b [class^="btn_"] {margin:0 20px;}
}
@media (min-width:1200px) and (max-width:1399px) {
  .mc06 {padding:48px 0;}
  .mc06 > div {width:1200px; margin:0 auto;}
  .mc06 > div > .btn_more {margin-top:7px;}
  .mc06 .mc06_t h4 {font-size:28px; line-height:36px; padding-left:112px;}
  .mc06 .mc06_t h4::before {position:absolute; left:-34px; bottom:-24px; display:block; content:''; width:145px; height:84px; background:url(../image/main/mc06_title_bg.png) no-repeat left bottom;}
  .mc06 .mc06_b {margin-top:24px; padding:28px 76px;}
  .mc06 .mc06_slide .sw_l {width:33.3333%; padding:0 8px;}
  .mc06 .s_b [class^="btn_"] {margin:0 20px;}
}
@media (min-width:768px) and (max-width:1199px) {
  .mc06 {padding:40px 24px;}
  .mc06 > div > .btn_more {margin-top:5px;}
  .mc06 .mc06_t h4 {font-size:24px; line-height:32px;}
  .mc06 .mc06_b {margin-top:20px; padding:24px 36px;}
  .mc06 .mc06_slide .sw_l {width:50%; padding:0 6px;}
  .mc06 .s_b [class^="btn_"] {margin:0 -12px;}
}
@media (max-width:767px) {
  .mc06 {padding:32px 16px;}
  .mc06 > div > .btn_more {margin-top:3px;}
  .mc06 .mc06_t h4 {font-size:20px; line-height:28px;}
  .mc06 .mc06_b {margin-top:16px; padding:20px 44px;}
  .mc06 .mc06_slide .sw_l {width:100%; padding:0 4px;}
  .mc06 .s_b [class^="btn_"] {margin:0 -8px;}
}

/* mc07 */
.mc07 h4 {display:block; color:#222;}
.mc07 h4 strong {font-weight:500; margin-left:4px;}
.mc07 > div > div {position:relative; background:#fff; border:4px solid #d9e1f1; border-radius:8px; overflow:hidden;}
.mc07 .mc07_l {background:#ebeff7;}
.mc07 .mc07_l .mc07l_t h5 {display:block; font-weight:500; color:#222;}
.mc07 .mc07_l .mc07l_t h5::before {display:inline-block; content:''; width:26px; height:26px; background:url(../image/main/mc07_subtitle_ico.png) no-repeat center center; margin-right:8px; vertical-align:middle;}
.mc07 .mc07_l .mc07l_t h5 > * {display:inline-block; vertical-align:middle; color:#222;}
.mc07 .mc07_l .mc07l_t h5 span {color:#163973;}

.mc07 .mc07_r {position:relative;}
.mc07 .mc07_slide {height:370px;}
.mc07 .mc07_slide .s_w,
.mc07 .mc07_slide .s_w .sw_l {height:100%;}
.mc07 .mc07_slide .sw_l > div {height:100%; position:relative;}

.mc07 .mc07_slide .mc07s_t {font-size:0; line-height:0;}
.mc07 .mc07_slide .mc07s_t > div::before {height:32px;}
.mc07 .mc07_slide .mc07s_t h5 {display:inline-block; font-size:16px; line-height:24px; font-weight:700; color:#264c80; padding:3px 12px; border:1px solid #d1d6e1; border-radius:16px; background:#ebeff7;}
.mc07 .mc07_slide .mc07s_t span {display:inline-block; font-size:14px; line-height:22px; color:#74757b}
.mc07 .mc07_slide .mc07s_t ul {margin:0 -12px;}
.mc07 .mc07_slide .mc07s_t ul > li {padding:0 12px; position:relative;}
.mc07 .mc07_slide .mc07s_t ul > li ~ li::before {display:block; content:''; width:1px; height:12px; position:absolute; left:0; top:50%; transform:translateY(-50%);}
.mc07 .mc07_slide .mc07s_t ul > li,
.mc07 .mc07_slide .mc07s_t ul > li > * {display:inline-block; vertical-align:middle;}
.mc07 .mc07_slide .mc07s_t ul > li > em {font-size:14px; line-height:22px; color:#7e8183;}
.mc07 .mc07_slide .mc07s_t ul > li > strong {font-size:20px; line-height:28px; font-weight:500; color:#000; margin-left:4px;}

.mc07 .mc07_slide .mc07s_b {height:calc(100% - 48px); margin-top:16px; text-align:center;}
.mc07 .mc07_slide .mc07s_b::before {display:inline-block; content:''; height:100%; vertical-align:middle;}
.mc07 .mc07_slide .mc07s_b > img {display:inline-block; vertical-align:middle; max-width:100%; max-height:100%;}
.mc07 .mc07_slide .sw_l .mc07s_l {background:#f9fafc;}

@media (min-width:1400px) {
  /* .mc07 {padding:0 0 48px 0;} */
  .mc07 h4 {font-size:28px; line-height:36px; padding-bottom:24px;}
  .mc07 > div {width:1400px; margin:0 auto;}
  .mc07 > div > div {padding-left:360px;}
  .mc07 .mc07_l {position:absolute; left:0; top:0; padding:28px 32px; width:360px; height:100%;}
  .mc07 .mc07_l .mc07l_t h5 {font-size:20px; line-height:28px;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t {display:none;}

  .mc07 .mc07_l .mc07l_b {margin-top:24px;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li {position:relative;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li ~ li::before {display:block; content:''; width:220px; height:1px; background:#c0c3c9; position:absolute; left:0; top:0;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li > a {position:relative; display:block; padding:0 24px; border-radius:8px;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li > a::before {display:inline-block; content:''; height:80px; vertical-align:middle;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li > a > span {display:inline-block; vertical-align:middle; font-size:18px; line-height:24px; font-weight:500; color:#222;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li.on > a {background:#164f86; box-shadow:0 8px 32px rgba(0,0,0,0.2);}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li.on > a::after {display:block; content:''; width:36px; height:36px; background:url(../image/common/ico_next_64_w.png) no-repeat center center / 56%; position:absolute; right:16px; top:50%; transform:translateY(-50%);}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li.on > a > span {font-size:20px; color:#fff;}

  .mc07 .mc07_slide {overflow:hidden;}
  /* .mc07 .mc07_slide .sw_l {padding:28px 32px;} */
  .mc07 .mc07_slide .sw_l > div {padding-left:360px;}
  .mc07 .mc07_slide .sw_l > div > div {padding:28px 32px; height:100%;}
  .mc07 .mc07_slide .sw_l > div > .mc07s_l {position:absolute; left:0; top:0; width:360px;}
}
@media (min-width:1200px) and (max-width:1399px) {
  /* .mc07 {padding:0 0 48px 0;} */
  .mc07 h4 {font-size:28px; line-height:36px; padding-bottom:24px;}
  .mc07 > div {width:1200px; margin:0 auto;}
  .mc07 > div > div {padding-left:300px;}
  .mc07 .mc07_l {position:absolute; left:0; top:0; padding:28px 32px; width:300px; height:100%;}
  .mc07 .mc07_l .mc07l_t h5 {font-size:20px; line-height:28px;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t {display:none;}

  .mc07 .mc07_l {padding:28px 32px;}
  .mc07 .mc07_l .mc07l_b {margin-top:24px;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li {position:relative;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li ~ li::before {display:block; content:''; width:220px; height:1px; background:#c0c3c9; position:absolute; left:0; top:0;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li > a {position:relative; display:block; padding:0 24px; border-radius:8px;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li > a::before {display:inline-block; content:''; height:80px; vertical-align:middle;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li > a > span {display:inline-block; vertical-align:middle; font-size:18px; line-height:24px; font-weight:500; color:#222;}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li.on > a {background:#164f86; box-shadow:0 8px 32px rgba(0,0,0,0.2);}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li.on > a::after {display:block; content:''; width:36px; height:36px; background:url(../image/common/ico_next_64_w.png) no-repeat center center / 56%; position:absolute; right:16px; top:50%; transform:translateY(-50%);}
  .mc07 .mc07_l .mc07l_b .mc07lb_b > ul > li.on > a > span {font-size:20px; color:#fff;}

  .mc07 .mc07_slide {overflow:hidden;}
  /* .mc07 .mc07_slide .sw_l {padding:28px 32px;} */
  .mc07 .mc07_slide .sw_l > div {padding-left:320px;}
  .mc07 .mc07_slide .sw_l > div > div {padding:28px 32px; height:100%;}
  .mc07 .mc07_slide .sw_l > div > .mc07s_l {position:absolute; left:0; top:0; width:320px;}
}
@media (min-width:768px) and (max-width:1199px) {
  .mc07 {padding:0 24px;}
  .mc07 h4 {font-size:24px; line-height:32px; padding-bottom:20px;}
  .mc07 .mc07_l {padding:24px 28px;}
  .mc07 .mc07_l .mc07l_t h5 {font-size:18px; line-height:26px;}
  .mc07 .mc07_l .mc07l_b {position:relative; margin-top:16px;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div {display:none;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div.on {display:block;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div > a {position:relative; display:block; padding:0 24px; border-radius:8px; background:#164f86; box-shadow:0 8px 32px rgba(0,0,0,0.2);}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_t > div > a {border-radius:8px 8px 0 0;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div > a::before {display:inline-block; content:''; height:64px; vertical-align:middle;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div > a > span {display:inline-block; vertical-align:middle; font-size:18px; line-height:26px; font-weight:500; color:#fff;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div > a::after {display:block; content:''; width:32px; height:32px; border-radius:50%; background:url(../image/common/ico_arrowbottom_64_w.png) no-repeat center center / 44%; position:absolute; right:20px; top:50%; transform:translateY(-50%); border:1px solid rgba(255,255,255,0.5); box-shadow:0 4px 16px rgba(255,255,255,0.2);}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_t > div > a::after {background-image:url(../image/common/ico_arrowtop_64_w.png);}
  .mc07 .mc07_l .mc07l_b .mc07lb_b {position:absolute; left:0; top:100%; display:none; z-index:5;}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_b {display:block; width:100%; background:#164f86; border-radius:0 0 8px 8px;}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_b > ul > li {border-top:1px solid rgba(255,255,255,0.12);}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_b > ul > li > a {display:block; padding:19px 24px;}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_b > ul > li > a > span {display:inline-block; font-size:18px; line-height:26px; color:#fff;}

  /* .mc07 .mc07_slide .sw_l {padding:24px 28px;} */
  .mc07 .mc07_slide {height:auto !important;}
  .mc07 .mc07_slide .sw_l > div > div {padding:24px 28px;}
}
@media (max-width:767px) {
  .mc07 {padding:0 16px;}
  .mc07 h4 {font-size:20px; line-height:28px; padding-bottom:16px;}
  .mc07 .mc07_l {padding:20px 24px;}
  .mc07 .mc07_l .mc07l_t h5 {font-size:16px; line-height:24px;}

  .mc07 .mc07_l .mc07l_b {position:relative; margin-top:8px;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div {display:none;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div.on {display:block;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div > a {position:relative; display:block; padding:0 20px; border-radius:8px; background:#164f86; box-shadow:0 8px 32px rgba(0,0,0,0.2);}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_t > div > a {border-radius:8px 8px 0 0;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div > a::before {display:inline-block; content:''; height:48px; vertical-align:middle;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div > a > span {display:inline-block; font-size:16px; line-height:24px; font-weight:500; color:#fff;}
  .mc07 .mc07_l .mc07l_b .mc07lb_t > div > a::after {display:block; content:''; width:24px; height:24px; border-radius:50%; background:url(../image/common/ico_arrowbottom_64_w.png) no-repeat center center / 44%; position:absolute; right:16px; top:50%; transform:translateY(-50%); border:1px solid rgba(255,255,255,0.5); box-shadow:0 4px 16px rgba(255,255,255,0.2);}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_t > div > a::after {background-image:url(../image/common/ico_arrowtop_64_w.png);}
  .mc07 .mc07_l .mc07l_b .mc07lb_b {position:absolute; left:0; top:100%; display:none; z-index:5;}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_b {display:block; width:100%; background:#164f86; border-radius:0 0 8px 8px;}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_b > ul > li {border-top:1px solid rgba(255,255,255,0.12);}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_b > ul > li > a {display:block; padding:12px 20px;}
  .mc07 .mc07_l .mc07l_b.open .mc07lb_b > ul > li > a > span {display:inline-block; font-size:16px; line-height:24px; color:#fff;}

  /* .mc07 .mc07_slide {height:240px;} */
  /* .mc07 .mc07_slide .sw_l {padding:20px 24px;} */
  .mc07 .mc07_slide {height:auto !important;}
  .mc07 .mc07_slide .sw_l > div > div {padding:20px 24px;}
}

/* ml02 */
.ml02 {background:url(../image/main/ml02_bg.png) no-repeat #e8eff5 right calc(50% + 700px) bottom; padding-top:120px; margin-top:-120px;}
.ml02 > div > div::after {display:block; content:''; clear:both;}

@media (min-width:1400px) {
  .ml02 > div {width:1400px; margin:0 auto;}
  .ml02 > div > div {padding:48px 0; margin:0 -24px;}
  .ml02 > div > div > div {float:left; width:50%; padding:0 24px;}
  .ml02 > div > div > div:first-child {width:72.6%}
  .ml02 > div > div > div:last-child {width:27.4%}
}
@media (min-width:1200px) and (max-width:1399px) {
  .ml02 > div {width:1200px; margin:0 auto;}
  .ml02 > div > div {padding:48px 0; margin:0 -24px;}
  .ml02 > div > div > div {float:left; width:50%; padding:0 24px;}
  .ml02 > div > div > div:first-child {width:72.6%}
  .ml02 > div > div > div:last-child {width:27.4%}
}
@media (min-width:768px) and (max-width:1199px) {
  .ml02 > div > div {padding:40px 24px;}
  .ml02 > div > div > div:nth-child(n+2) {margin-top:40px;}
}
@media (max-width:767px) {
  .ml02 > div > div {padding:32px 16px;}
  .ml02 > div > div > div:nth-child(n+2) {margin-top:32px;}
}

/* mc08 */
.mc08 .mc08_t h4 {position:relative; display:inline-block; color:#222; z-index:5;}
.mc08 .mc08_t h4 strong {font-weight:500;}
.mc08 .mc08_b {position:relative;}
.mc08 .tab_box .tab_title {position:absolute; left:0; top:0; padding:0 12px;}
.mc08 .tab_box ~ .tab_box .tab_title::before {display:block; content:''; width:1px; height:12px; background:#ddd; position:absolute; left:0; top:50%; transform:translateY(-50%);}
.mc08 .tab_box .tab_title a {display:block; font-size:16px; line-height:24px; font-weight:500; color:#888;}
.mc08 .tab_box.on .tab_title a {color:#2668d5; border-bottom:1px solid #2668d5;}
.mc08 .tab_box .btn_more {display:block; font-size:14px; line-height:22px; color:#666; position:absolute; right:0; top:5px; padding-right:16px; background:url(../image/common/ico_arrowright_64_b.png) no-repeat right center / auto 12px;}
.mc08 .tab_box .btn_more em {color:#2668d5;}
.mc08 .tab_box .tab_content > ul {margin:-16px -8px 0;}
.mc08 .tab_box .tab_content > ul::after {display:block; content:''; clear:both;}
.mc08 .tab_box .tab_content > ul > li {float:left; padding:16px 8px 0;}
.mc08 .tab_box .tab_content > ul > li > div {position:relative; background:#fff; border-radius:8px;}
.mc08 .tab_box .tab_content .mc08_title {display:block;}
.mc08 .tab_box .tab_content .mc08_title .ico_new {display:inline-block; vertical-align:middle; width:22px; height:22px; border-radius:50%; background:#426ac4; margin-right:4px; font-size:10px; line-height:22px; font-weight:500; text-align:center; color:#fff;}
.mc08 .tab_box .tab_content .mc08_title span {display:inline-block; vertical-align:middle; width:calc(100% - 30px); font-size:18px; line-height:26px; font-weight:500; color:#222; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.mc08 .tab_box .tab_content p {display:block; font-size:14px; line-height:22px; height:44px; color:#666; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; margin-top:8px;}
.mc08 .tab_box .tab_content .mc08_date {display:block; font-size:14px; line-height:22px; color:#888; position:absolute; left:0; bottom:0;}


@media (min-width:1400px) {
  .mc08 .mc08_t h4 {font-size:24px; line-height:32px;}
  .mc08 .mc08_b {height:396px; padding-top:48px; margin-top:-32px;} /* 482 */
  .mc08 .tab_box .tab_title {padding-top:3px; padding-bottom:3px;}
  .mc08 .tab_box .tab_content > ul > li {width:50%;}
  .mc08 .tab_box .tab_content > ul > li > div {height:166px; padding:28px 32px;}/* 209 */
  .mc08 .tab_box .tab_content .mc08_date {margin:28px 32px;}

  .mc08 .tab_box:nth-child(1) .tab_title {left:180px;}
  .mc08 .tab_box:nth-child(2) .tab_title {left:261px;}
  .mc08 .tab_box:nth-child(3) .tab_title {left:342px;}
}
@media (min-width:1200px) and (max-width:1399px) {
  .mc08 .mc08_t h4 {font-size:24px; line-height:32px;}
  .mc08 .mc08_b {height:340px; padding-top:48px; margin-top:-32px;} /* 416*/
  .mc08 .tab_box .tab_title {padding-top:3px; padding-bottom:3px;}
  .mc08 .tab_box .tab_content > ul > li {width:50%;}
  .mc08 .tab_box .tab_content > ul > li > div {height:138px; padding:28px 32px;} /* 176 */
  .mc08 .tab_box .tab_content p {height:22px; -webkit-line-clamp:1;}
  .mc08 .tab_box .tab_content .mc08_date {margin:28px 32px;}

  .mc08 .tab_box:nth-child(1) .tab_title {left:180px;}
  .mc08 .tab_box:nth-child(2) .tab_title {left:261px;}
  .mc08 .tab_box:nth-child(3) .tab_title {left:342px;}
}
@media (min-width:768px) and (max-width:1199px) {
  .mc08 .mc08_t h4 {font-size:22px; line-height:30px;}
  .mc08 .mc08_b {padding-top:46px; margin-top:-30px;}
  .mc08 .tab_box .tab_title {padding-top:2px; padding-bottom:2px;}
  .mc08 .tab_box .tab_content > ul {margin:0;}
  .mc08 .tab_box .tab_content > ul > li {width:100%; padding:0;}
  .mc08 .tab_box .tab_content > ul > li:nth-child(n+3) {display:none;}
  .mc08 .tab_box .tab_content > ul > li ~ li {padding:16px 0 0 0;}
  .mc08 .tab_box .tab_content > ul > li > div {padding:28px 32px;}
  .mc08 .tab_box .tab_content .mc08_date {position:static; margin-top:24px;}

  .mc08 .tab_box:nth-child(1) .tab_title {left:170px;}
  .mc08 .tab_box:nth-child(2) .tab_title {left:251px;}
  .mc08 .tab_box:nth-child(3) .tab_title {left:332px;}
}
@media (max-width:767px) {
  .mc08 .mc08_t h4 {font-size:20px; line-height:28px;}
  .mc08 .mc08_b {padding-top:80px; margin-top:-28px;}
  .mc08 .tab_box .tab_content {text-align:center;}
  .mc08 .tab_box .tab_content > ul {margin:0; text-align:left;}
  .mc08 .tab_box .tab_content > ul > li {width:100%; padding:0;}
  .mc08 .tab_box .tab_content > ul > li:nth-child(n+3) {display:none;}
  .mc08 .tab_box .tab_content > ul > li ~ li {padding:16px 0 0 0;}
  .mc08 .tab_box .tab_content > ul > li > div {padding:28px 32px;}
  .mc08 .tab_box .tab_content .mc08_date {position:static; margin-top:24px;}

  .mc08 .tab_box .tab_title {top:40px;}
  .mc08 .tab_box:nth-child(1) .tab_title {left:-12px;}
  .mc08 .tab_box:nth-child(2) .tab_title {left:69px;}
  .mc08 .tab_box:nth-child(3) .tab_title {left:150px;}

  .mc08 .tab_box .btn_more {position:static; display:inline-block !important; margin-top:24px;}
}

/* mc09 */
.mc09 {position:relative;}
.mc09 .mc09_t h4 {display:block; font-weight:500; color:#222;}
.mc09 .btn_more {display:block; width:36px; height:36px; border:1px solid #ddd; border-radius:50%; background:url(../image/common/ico_plus_64_b.png) no-repeat #fff center center / 36%; position:absolute; right:0; top:0;}

.mc09 .mc09_b {position:relative;}
.mc09 .mc09_slide {border-radius:8px; overflow:hidden; margin-top:16px;}
.mc09 .mc09_slide .s_w,
.mc09 .mc09_slide .s_w .sw_l,
.mc09 .mc09_slide .s_w .sw_l a {height:100%;}
.mc09 .mc09_slide .s_w .sw_l a {display:block; background:url() no-repeat center center / cover;}

.mc09 .mc09_b .mc09b_b {position:absolute; left:50%; bottom:0; transform:translate3d(-50%, 50%, 0); border-radius:18px; padding:5px 8px; background:#fff; box-shadow:0 4px 16px rgba(0,0,0,0.12);}
.mc09 .mc09_b .mc09b_b * {display:inline-block; vertical-align:middle;}
.mc09 .mc09_b .mc09b_b .s_b [class^="btn_"] {width:24px; height:24px; background:url() no-repeat center center / 66%;}
.mc09 .mc09_b .mc09b_b .s_b .btn_prev {background-image:url(../image/common/ico_arrowleft_64_b.png)}
.mc09 .mc09_b .mc09b_b .s_b .btn_pause {background-image:url(../image/common/ico_pause_64_b.png); background-size:50%;}
.mc09 .mc09_b .mc09b_b .s_b .btn_play {background-image:url(../image/common/ico_play_64_b.png); background-size:50%;}
.mc09 .mc09_b .mc09b_b .s_b .btn_next {background-image:url(../image/common/ico_arrowright_64_b.png)}
.mc09 .mc09_b .mc09b_b .s_c {font-size:14px; line-height:22px; font-weight:700; color:#888; padding:1px 8px;}
.mc09 .mc09_b .mc09b_b .s_c * {padding:0 1px;}
.mc09 .mc09_b .mc09b_b .s_c strong {color:#222;}

@media (min-width:1400px) {
  .mc09 .mc09_t h4 {font-size:24px; line-height:32px;}
  .mc09 .btn_more {margin-top:-2px;}
}
@media (min-width:1200px) and (max-width:1399px) {
  .mc09 .mc09_t h4 {font-size:24px; line-height:32px;}
  .mc09 .btn_more {margin-top:-2px;}
}
@media (min-width:768px) and (max-width:1199px) {
  .mc09 .mc09_t h4 {font-size:22px; line-height:30px;}
  .mc09 .btn_more {margin-top:-3px;}
}
@media (max-width:767px) {
  .mc09 .mc09_t h4 {font-size:20px; line-height:28px;}
  .mc09 .btn_more {margin-top:-4px;}
}

/* mc10 */
.mc10 {background:url(../image/main/mc10_bg.png) no-repeat center bottom;}
.mc10 p {display:block; font-size:18px; line-height:26px; text-align:center; color:#113767;}
.mc10 p strong {font-weight:500;}

@media (min-width:1400px) {
  .mc10 {height:300px; padding-top:96px;}
}
@media (min-width:1200px) and (max-width:1399px) {
  .mc10 {height:300px; padding-top:96px;}
}
@media (min-width:768px) and (max-width:1199px) {
  .mc10 {height:160px; padding-top:32px; background-size:auto 88px;}
}
@media (max-width:767px) {
  .mc10 {height:120px; background-size:auto 44px;}
  .mc10 p {display:none;}
}

/* main modal notice */
.mc_notice_descript {padding:20px 0; border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5;}
.mc_notice_img img {display:block; width:100%;}
.mc_notice_today {background:#efeff1; padding:8px 32px;}

/* qnb */
.qnb {display:none; left:50%; margin-left:700px; width:160px; height:240px; background:#fff; transition:transform 0.16s ease-out;}